html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}
canvas {
    display: block;
    margin: 0 auto;
}

#root, #scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: auto; */
    z-index: 1;
  }

.box {
    border-bottom-left-radius: 15px;  /* Bottom left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom right corner rounded */
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(20, 20, 20, 0.7)); /* Dark grey, almost black background with slight transparency */
    border: none; /* Remove default borders */
    padding: 10px;
    box-sizing: border-box;
    /* overflow: hidden;  */
    color: white;
    width: auto;
    /* flex: 1; */
}

.player-tab {
    position: relative; /* Needed to position the pseudo-element */
    margin-top: 10px;
    margin-left: 10px;
    z-index: 2;
    max-width: 350px;
    max-height: 270px;
}

.box::before {
    content: ""; /* Pseudo-elements require a content property, even if it's an empty string */
    position: absolute; /* To position it at the top */
    left: 0;
    top: 0;
    height: 3px; /* The thickness of your border */
    width: 100%; /* To cover the full width of the box */
    background: linear-gradient(to right, rgb(255, 191, 0), orange 90%); /* Adjusted gradient colors and positions */
}

@font-face {
    font-family: 'Vinque';
    src: url('assets/vinque.otf');
}

@font-face {
    font-family: 'Kim';
    src: url('assets/kim.otf');
}

.player-main {
    display: flex;
    flex-direction: column; /* This will stack the items vertically */
    align-items: start;
    gap: 10px; /* adjust as needed */
    margin-bottom: 10px;
}

.player-content {
    display: flex;
    gap: 10px; /* adjust as needed */
}

.player-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 1px;
    font-weight: bold;
    /* font-family: 'Vinque'; */
}

.player-class {
    border-right: 2px solid white;
}

.player-portrait {
    position: relative;
    border: 3px solid gold;
    width: 50px;
    height: 84px;
    margin-top: 2px;
    background-position: -45px -45px;
    background-repeat: no-repeat;
}

.hp, .mp, .cooldown {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    /* width: fit-content; */
    font-weight: bold;
}

.badge {
    display: inline-block;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 6px;
    background-color: #3E3E3E;
    font-weight: bold;
}

.badge-label {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
}

.cooldown {
    background-color: #AD8606;
    /* background-color: #ffc400; */
}

.hp {
    background-color: #028406;
}

.mp {
    background-color: #0645AD;
}
  
.hp-label, .mp-label, .cooldown-label {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
}
  
.hp-amount, .mp-amount, .cooldown-amount {
    padding-right: 10px;
    margin-right: 10px;
    font-style: italic;
}

.cooldown-amount {
    border-right: 1px solid black;
}

.cooldown-state {
    /* padding-right: 10px; */
    margin-right: 10px;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  
.cooldown-complete {
    animation: blink 1s linear infinite;
}

.player-skills, .player-items {
    display: flex;
    align-items: center;
    margin-left: 1px;
    font-weight: bold;
    margin-bottom: -10px;
}

.player-skills h4, .player-items h4 {
    margin-right: 10px;
}


.skill, .item {
    position: relative;
    border: 3px solid gold;
    width: 36px;
    height: 36px;
    margin-right: 3px;
    background-size: contain;
}

.skill-item-image {
    width: 100%;
    height: 100%; 
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2px;
}

.skill-item-image-off {
    filter: grayscale(1);
}

.key-binding {
    position: absolute;
    bottom: -1px;
    right: 0px;
    color: white;   /* Or any color that matches your design */
    font-size: 10px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    border-radius: 10px; 
}

.item-qty {
    position: absolute;
    bottom: -1px;
    left: 2px;
    font-size: 14px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    border-radius: 10px; 
    color: white; 
}

.info-box {
    position: absolute;
    top: 110%; /* Positioned above the parent element */
    left: 10px;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear; /* Fade in/out */
    width: 200px;
    z-index: 1;
}
  
.skill:hover .info-box, .item:hover .info-box {
    visibility: visible; /* Visible when parent is hovered over */
    opacity: 1;
}

.info-box-title {
    margin-top: 0;
}

.info-box-desc {
    margin-top: 3px;
    font-weight: normal;
    font-size: 12px;
}

/* .info-box-extra {
    display: flex;
} */

.mini {
    margin-top: 5px;
    display: inline-block;
}

.player-items h4 {
    margin-right: 15px;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.flash-effect {
    animation: flash 0.2s ease infinite;
}

.hud-container {
  display: flex; 
  justify-content: space-between;  
}

.flex-grow {
    flex-grow: 1;
}

.overview {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 2;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    align-items: center;
}

/* .member::before {
  content: "";
  position: absolute;
  background-color: inherit;
  z-index: -1;
}

.member-left::before {
  top: -30px;
  right: -60%;
  bottom: 0;
  left: -50%;
  transform: rotate(45deg);
  width: 170px;
}

.member-right::before {
  top: -30px;
  right: -50%;
  bottom: 0;
  left: -60%;
  transform: rotate(-45deg);
  width: 170px;
} */

  .member {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    font-family: 'Kim', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
/* 
    border-top: 2px solid white;
    border-bottom: 2px solid white; */
  }

  /* .member-left {
    background: linear-gradient(to right, lightblue, transparent);
  }

  .member-right {
    background: linear-gradient(to left, lightblue, transparent);
  }
   */
  .member-portrait {
    position: relative;
    width: 50px;
    height: 50px;
  }

  .member-name {
    font-size: 12px;
  }
  
  .member-index {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;   /* Or any color that matches your design */
    font-size: 10px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    border-radius: 10px; 
  }

  .hp-bar {
    width: 100%;
    height: 10px; /* adjust as needed */
    background-color: #a31720; /* color for the unfilled part */
    border-radius: 5px; /* makes the bar rounded */
    border: 1px solid black;
  }
  
  .hp-fill {
    height: 100%;
    background-color: #32CD32; /* green color for the filled part */
    border-radius: 5px; /* makes the bar rounded */
  }

  .mp-bar {
  width: 100%;
  height: 10px; /* adjust as needed */
  background-color: #a31720; /* color for the unfilled part */
  border-radius: 5px; /* makes the bar rounded */
  border: 1px solid black;
}

.mp-fill {
  height: 100%;
  background-color: #0099ff;
  border-radius: 5px; /* makes the bar rounded */
}

.cooldown-bar {
    width: 100%;
    height: 10px; /* adjust as needed */
    background-color: #a31720; /* color for the unfilled part */
    border-radius: 5px; /* makes the bar rounded */
    border: 1px solid black;
  }
  
  .cooldown-fill {
    height: 100%;
    background-color: #ffc400;
    border-radius: 5px; /* makes the bar rounded */
  }

.blink {
    animation: blink 0.25s linear;
    animation-iteration-count: 3;
}

  .homePage {
    display: flex;
    height: 100vh;
  }
  
  .menu {
    width: 100px;
    background-color: #2D2D2D;
    padding: 10px;
    border-right: 2px solid black;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #080c15;
    background-repeat: no-repeat;
    background-position: 150% -100%;
  }
  
  .notificationBar {
    display: flex;
    justify-content: flex-end;
    height: 25px;
    background-color: #373636;
    border-bottom: 2px solid black;
  }
  
  .mainContent {
    flex: 1;
  }

  .gameLogo {
    width: 95%;
    height: auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px; /* Adjust this value to get the desired roundness */
  }

  .menuItems {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .menuItem {
    cursor: pointer;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }

.page-header {
    display: flex;
    align-items: center;
    padding: 5px;
}
  
.page-icon {
    scale: 0.7;
}
  
.page-title {
    margin-left: 10px;
    font-size: 4em; /* Adjust as needed */
    font-family: Kim;
    color: white;
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

  .gold-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50px; 
    padding: 10px 20px; 
    font-weight: bold;
    border: 1px solid #CD853F;
    font-size: 30px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Kim;
}

.gold-container::before, .gold-container::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px; /* Adjust to create the desired gap size */
    background-color: #070507; /* Match the background color */
}
.gold-container::before {
    left: -12px; /* Position the pseudo-element to cover the left border */
}
.gold-container::after {
    right: -12px; /* Position the pseudo-element to cover the right border */
}

.gold-icon {
    margin-right: 10px; /* Space between the icon and the text */
    /* scale: 0.25; */
    height: 32px;
}

.shop-content {
    margin-left: 30px;
}

.menuItemContainer {
    position: relative;
}

.menuItemText {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Kim', sans-serif;
    color: white;
    font-size: 30px;
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menuItemContainer:hover {
    filter: brightness(1.2);
  }
  .menuItemContainer:active {
    transform: scale(0.95);
  }

  .notificationBarButton {
    position: relative;
    display: inline-flex;
    align-items: center;
    color:lightgrey; 
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: #080c15;
    padding-right: 0;
    border-radius: 3px;
    margin-right: 5px;
    /* box-shadow: 0 0 0 3px #070507, 0 0 0 4px #CD853F; */
}

.notificationBarButton:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.notificationBarButton i {
    position: relative;
    margin-right: 5px;
}

.notificationBadge {
    position: absolute;
    bottom: -5px;
    left: -8px;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 8px;
}

.notificationList {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #B3B3B3;
    background-color: white;
    color: black;
}

.notificationItem {
    padding: 10px;
    border-bottom: 1px solid #B3B3B3;
}

.notificationItem:last-child {
    border-bottom: none;
}

@keyframes animate-sprite {
    0% { background-position: -40px -40px; }
    33% { background-position: -184px -40px; }
    66% { background-position: -328px -40px; }
  }
  

.character-portrait {
    height: 100px; /* Adjust as needed */
    width: 65px;
    position: relative;
    background-position: -40px -40px;
    background-repeat: no-repeat;
    animation: animate-sprite 0.7s steps(1) infinite;
  }
  
  .character-card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 20px;
    border: 2px solid #CD853F;
    align-items: flex-start;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .character-card.warrior {
    /* background: linear-gradient(to right, #FFC600, #FF8000); */
    background: linear-gradient(to right, #B22222, #FF6347);

}

.character-card.thief {
  /* background: linear-gradient(to right, #4B0082, #8A2BE2); */
  background: linear-gradient(to right, #006400, #32CD32);

}

.character-card.white-mage {
  background: linear-gradient(to right, #FFFFFF, #A9A9A9);
}

.character-card.black-mage {
  background: linear-gradient(to right, #000000, #696969);
}

  .character-info {
    display: flex;
    flex-direction: column;
  }
  
  .character-name {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Kim;
  }
  
  .character-class {
    font-size: 0.9em;
    font-family: Kim;
    /* color: #666; */
  }
  
  .level-badge {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: gold;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    font-family: Kim;
    flex-direction: column;
    box-shadow: 0 0 0 5px #070507, 0 0 0 7px #CD853F; /* Creates a 10px transparent gap and a 2px border */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }


  .level-badge .level-number {
    font-size: 1.2em; 
  }

  .roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }

.landing-page {
  background: url('assets/aarena_bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.logo {
  width: 50%; /* Adjust as needed */
  height: auto;
}

.section-title {
  font-family: 'Kim', sans-serif;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background: linear-gradient(to right, darkblue, lightblue, transparent);
  color: white;
  padding: 5px 0;
  padding-left: 15px;
  margin-bottom: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 25px;
}

.leaderboard-table {
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  width: calc(100% - 30px);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 0 15px;
}

.leaderboard-table thead tr {
  background: linear-gradient(to right, darkblue, lightblue);
}

.leaderboard-table th {
  font-family: 'Kim', sans-serif;
  color: white;
  cursor: pointer;
}

.leaderboard-table tr:nth-child(even) {
  background-color: #e0e0e0;
}

.leaderboard-table tr:nth-child(odd) {
  background-color: #d7d7d7;
}

.leaderboard-table td {
  text-align: center;
  font-family: 'Kim';
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-right: 15px;
}

.leaderboard-table tr:hover {
  background-color: #c0c0c0;
  /* ddd */
}

.leaderboard-table th div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-table th div span:last-child {
  margin-left: 5px;
}

.golden-star {
  color: gold;
}

.leaderboard-table tr.highlighted-row {
  background-color: gold;
  border: 2px solid black;
  margin-left: -5px;
  margin-right: -5px;
}

.button-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background-color: gold; /* Warmer pastel color */
  border-radius: 50px; /* Adjust to create an elliptical shape */
  padding: 10px 20px; /* Adjust for size */
  font-weight: bold;
  box-shadow: 0 0 0 10px #070507, 0 0 0 12px #CD853F; /* Creates a 10px transparent gap and a 2px border */
  font-size: 30px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Kim;
}

.button-container::before, .button-container::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px; /* Adjust to create the desired gap size */
  background-color: #070507; /* Match the background color */
}
.button-container::before {
  left: -12px; /* Position the pseudo-element to cover the left border */
}
.button-container::after {
  right: -12px; /* Position the pseudo-element to cover the right border */
}

.button {
  cursor: pointer;
  margin: 10px;
  margin-left: 30px;
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  transform: scale(0.95);
}

.character-full {
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #F9F6EE;
  border-radius: 15px;
  max-width: 800px;
  min-height: 200px;
}

.character-header {
  position: relative;
  background: linear-gradient(to right, #874255, #edcfb7, transparent);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 50px;
  padding: 5px;
  padding-left: 15px;
  overflow: hidden;
}

.character-header-name {
  position: absolute;
  font-family: Kim;
  color: white;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: 0;
}

.character-header-name-shadow {
  position: absolute;
  top: -30px;
  left: 15px;
  font-family: Kim;
  color: white;
  font-size: 80px;
  opacity: 0.15;
}

.character-header-class {
  position: absolute;
  top: 35px;
  left: 15px;
  font-family: Kim;
  color: white;
  font-size: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-style: italic;
}

/* .character-header-class.warrior {
  background: linear-gradient(to right, #B22222, #FF6347);

}

.character-header-class.thief {
background: linear-gradient(to right, #006400, #32CD32);

}

.character-header-class.white-mage {
background: linear-gradient(to right, #FFFFFF, #A9A9A9);
}

.character-header-class.black-mage {
  background: linear-gradient(to right, #000000, #696969);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.character-full-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: Kim;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.character-full-level {
  font-size: 20px;
}

.level-area {
  display: flex;
  width: 50%;
}

.character-full .level-badge {
  left: 10px;
  top: 70px;
}

.xp-area {
  margin-left: 60px;
  flex-grow: 1;
}

.xp-bar-bg {
  background-color: black;
  border-radius: 50px;
  overflow: hidden;
}

.xp-bar {
  height: 5px; 
  background: linear-gradient(to right, darkblue, lightblue);
  border-radius: 50px;
}