html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}
canvas {
    display: block;
    margin: 0 auto;
}

#root, #scene {
  position: absolute;
  top: 0;
  left: 0;
}

#root {
  z-index: 1;  /* This ensures that the AliveCount component will be displayed above the Phaser game */
  /* background-color: red; */
}

.box {
    border-bottom-left-radius: 15px;  /* Bottom left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom right corner rounded */
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(20, 20, 20, 0.7)); /* Dark grey, almost black background with slight transparency */
    border: none; /* Remove default borders */
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* To make sure the pseudo-element does not overflow the box */
    color: white;
}

.player-tab {
    position: relative; /* Needed to position the pseudo-element */
    margin-top: 10px;
    margin-left: 10px;
    /* width: 800px; */
}

.box::before {
    content: ""; /* Pseudo-elements require a content property, even if it's an empty string */
    position: absolute; /* To position it at the top */
    left: 0;
    top: 0;
    height: 3px; /* The thickness of your border */
    width: 100%; /* To cover the full width of the box */
    background: linear-gradient(to right, rgb(255, 191, 0), orange 90%); /* Adjusted gradient colors and positions */
}

@font-face {
  font-family: 'Vinque';
  src: url('assets/vinque.otf');
}

.player-main {
    display: flex;
    flex-direction: column; /* This will stack the items vertically */
    align-items: start;
    gap: 10px; /* adjust as needed */
}

.player-content {
    display: flex;
    gap: 10px; /* adjust as needed */
}

.player-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 1px;
    font-weight: bold;
    /* font-family: 'Vinque'; */
}

.player-class {
    border-right: 2px solid white;
}

.player-portrait {
    position: relative;
    border: 3px solid gold;
    width: 50px;
    height: 84px;
    margin-top: 2px;
}

.hp, .mp, .cooldown {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    /* width: fit-content; */
    font-weight: bold;
}

.badge {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 6px;
    background-color: #3E3E3E;
    font-weight: bold;
}

.badge-label {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
}

.cooldown {
    background-color: #AD8606;
}

.hp {
    background-color: #028406;
}

.mp {
    background-color: #0645AD;
}
  
.hp-label, .mp-label, .cooldown-label {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
}
  
.hp-amount, .mp-amount, .cooldown-amount {
    padding-right: 10px;
    margin-right: 10px;
    font-style: italic;
}

.cooldown-amount {
    border-right: 1px solid black;
}

.cooldown-state {
    /* padding-right: 10px; */
    margin-right: 10px;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  
.cooldown-complete {
    animation: blink 1s linear infinite;
}

.player-skills, .player-items {
    display: flex;
    align-items: center;
    margin-left: 1px;
    font-weight: bold;
    /* font-family: 'Vinque'; */
}

.player-skills h4, .player-items h4 {
    margin-right: 10px;
}

.player-items {
    margin-top: -15px;
}

.skill, .item {
    position: relative;
    border: 3px solid gold;
    width: 36px;
    height: 36px;
    margin-right: 3px;
    background-size: contain;
}

.skill-off, .item-off {
    filter: grayscale(1);
}

.key-binding {
    position: absolute;
    bottom: -1px;
    right: 0px;
    color: white;   /* Or any color that matches your design */
    font-size: 10px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    border-radius: 10px; 
}

.item-qty {
    position: absolute;
    bottom: -1px;
    left: 2px;
    font-size: 14px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    border-radius: 10px; 
    color: white; 
}

.info-box {
    position: absolute;
    bottom: 100%; /* Positioned above the parent element */
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black */
    color: white; /* White text */
    border-radius: 5px;
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear; /* Fade in/out */
  }
  
  .skill:hover .info-box, .item:hover .info-box {
    visibility: visible; /* Visible when parent is hovered over */
    opacity: 1;
  }
