html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}
canvas {
    display: block;
    margin: 0 auto;
}

#root, #scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: auto; */
    z-index: 1;
  }

.box {
    border-bottom-left-radius: 15px;  /* Bottom left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom right corner rounded */
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(20, 20, 20, 0.7)); /* Dark grey, almost black background with slight transparency */
    border: none; /* Remove default borders */
    padding: 10px;
    box-sizing: border-box;
    /* overflow: hidden;  */
    color: white;
    width: auto;
    /* flex: 1; */
}

.player-tab {
    position: relative; /* Needed to position the pseudo-element */
    margin-top: 10px;
    margin-left: 10px;
    z-index: 2;
}

.box::before {
    content: ""; /* Pseudo-elements require a content property, even if it's an empty string */
    position: absolute; /* To position it at the top */
    left: 0;
    top: 0;
    height: 3px; /* The thickness of your border */
    width: 100%; /* To cover the full width of the box */
    background: linear-gradient(to right, rgb(255, 191, 0), orange 90%); /* Adjusted gradient colors and positions */
}

@font-face {
    font-family: 'Vinque';
    src: url('assets/vinque.otf');
}

@font-face {
    font-family: 'Kim';
    src: url('assets/kim.otf');
}

.player-main {
    display: flex;
    flex-direction: column; /* This will stack the items vertically */
    align-items: start;
    gap: 10px; /* adjust as needed */
}

.player-content {
    display: flex;
    gap: 10px; /* adjust as needed */
}

.player-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 1px;
    font-weight: bold;
    /* font-family: 'Vinque'; */
}

.player-class {
    border-right: 2px solid white;
}

.player-portrait {
    position: relative;
    border: 3px solid gold;
    width: 50px;
    height: 84px;
    margin-top: 2px;
    background-position: -45px -45px;
    background-repeat: no-repeat;
}

.hp, .mp, .cooldown {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    /* width: fit-content; */
    font-weight: bold;
}

.badge {
    display: inline-block;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 6px;
    background-color: #3E3E3E;
    font-weight: bold;
}

.badge-label {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
}

.cooldown {
    background-color: #AD8606;
    /* background-color: #ffc400; */
}

.hp {
    background-color: #028406;
}

.mp {
    background-color: #0645AD;
}
  
.hp-label, .mp-label, .cooldown-label {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
}
  
.hp-amount, .mp-amount, .cooldown-amount {
    padding-right: 10px;
    margin-right: 10px;
    font-style: italic;
}

.cooldown-amount {
    border-right: 1px solid black;
}

.cooldown-state {
    /* padding-right: 10px; */
    margin-right: 10px;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  
.cooldown-complete {
    animation: blink 1s linear infinite;
}

.player-skills, .player-items {
    display: flex;
    align-items: center;
    margin-left: 1px;
    font-weight: bold;
    /* font-family: 'Vinque'; */
}

.player-skills h4, .player-items h4 {
    margin-right: 10px;
}

.player-items {
    margin-top: -15px;
}

.skill, .item {
    position: relative;
    border: 3px solid gold;
    width: 36px;
    height: 36px;
    margin-right: 3px;
    background-size: contain;
}

.skill-item-image {
    width: 100%;
    height: 100%; 
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2px;
}

.skill-item-image-off {
    filter: grayscale(1);
}

.key-binding {
    position: absolute;
    bottom: -1px;
    right: 0px;
    color: white;   /* Or any color that matches your design */
    font-size: 10px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    border-radius: 10px; 
}

.item-qty {
    position: absolute;
    bottom: -1px;
    left: 2px;
    font-size: 14px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    border-radius: 10px; 
    color: white; 
}

.info-box {
    position: absolute;
    top: 110%; /* Positioned above the parent element */
    left: 10px;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear; /* Fade in/out */
    width: 200px;
    z-index: 1;
}
  
.skill:hover .info-box, .item:hover .info-box {
    visibility: visible; /* Visible when parent is hovered over */
    opacity: 1;
}

.info-box-title {
    margin-top: 0;
}

.info-box-desc {
    margin-top: 3px;
    font-weight: normal;
    font-size: 12px;
}

/* .info-box-extra {
    display: flex;
} */

.mini {
    margin-top: 5px;
    display: inline-block;
}

.player-items h4 {
    margin-right: 15px;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
    /* 0% { filter: brightness(1); }
    50% { filter: brightness(2); }
    100% { filter: brightness(1); } */
}

.flash-effect {
    animation: flash 0.2s ease infinite;
}

.hud-container {
    display: flex;
    justify-content: space-between;  
}

.flex-grow {
    flex-grow: 1;
}

.overview {
    position: relative; /* Needed to position the pseudo-element */
    margin-top: 10px;
    margin-right: 10px;
    z-index: 2;
}

.team {
    margin-bottom: 10px;
}

.team-members {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

.team-label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}
  
  .team-label.opponent {
    text-align: right;
    margin-top: 10px;
  }
  
  .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
  .member-portrait {
    position: relative;
    width: 50px;
    height: 50px;
  }

  .member-name {
    font-size: 12px;
  }
  
  .member-index {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;   /* Or any color that matches your design */
    font-size: 10px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    border-radius: 10px; 
  }

  .hp-bar {
    width: 100%;
    height: 10px; /* adjust as needed */
    background-color: #a31720; /* color for the unfilled part */
    border-radius: 5px; /* makes the bar rounded */
    border: 1px solid black;
  }
  
  .hp-fill {
    height: 100%;
    background-color: #32CD32; /* green color for the filled part */
    border-radius: 5px; /* makes the bar rounded */
  }

  .mp-bar {
  width: 100%;
  height: 10px; /* adjust as needed */
  background-color: #a31720; /* color for the unfilled part */
  border-radius: 5px; /* makes the bar rounded */
  border: 1px solid black;
}

.mp-fill {
  height: 100%;
  background-color: #0099ff;
  border-radius: 5px; /* makes the bar rounded */
}

.cooldown-bar {
    width: 100%;
    height: 10px; /* adjust as needed */
    background-color: #a31720; /* color for the unfilled part */
    border-radius: 5px; /* makes the bar rounded */
    border: 1px solid black;
  }
  
  .cooldown-fill {
    height: 100%;
    background-color: #ffc400;
    border-radius: 5px; /* makes the bar rounded */
  }

.blink {
    animation: blink 0.25s linear;
    animation-iteration-count: 3;
}

  .homePage {
    display: flex;
    height: 100vh;
  }
  
  .menu {
    width: 100px;
    background-color: #2D2D2D;
    padding: 10px;
    border-right: 2px solid black;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #080c15;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('assets/aarena_bg.png'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* background-image: url('assets/playpage.png'); */
    background-repeat: no-repeat;
    background-position: 150% -100%;
  }
  
  .notificationBar {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    background-color: #373636;
    border-bottom: 2px solid black;
  }
  
  .mainContent {
    flex: 1;
  }

  .gameLogo {
    width: 95%;
    height: auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px; /* Adjust this value to get the desired roundness */
  }

  .menuItems {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .menuItem {
    cursor: pointer;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }

.page-header {
    display: flex;
    align-items: center;
    padding: 5px;
}
  
.page-icon {
    scale: 0.7;
}
  
.page-title {
    margin-left: 10px;
    font-size: 4em; /* Adjust as needed */
    font-family: Kim;
    color: white;
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.team-container {
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    padding-top: 20px;
  }
  
  .team-title {
    position: absolute;
    top: -10px;
    left: 10px;
    background: white;
    padding: 0 10px;
  }
  
  .team-member {
    border: 1px solid #333; /* Adjust as needed */
    background-color: #fff; /* Adjust as needed */
    width: 150px; /* Adjust as needed */
    margin: 10px; /* Adjust as needed */
  }
  
  .character-portrait {
    height: 100px; /* Adjust as needed */
    background-size: cover;
    position: relative;
  }
  
  .character-level {
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    border-radius: 50%;
    padding: 5px;
  }
  
  .character-info {
    background-color: #f5f5f5; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
  }
  .gold-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: gold; /* Warmer pastel color */
    border-radius: 50px; /* Adjust to create an elliptical shape */
    padding: 10px 20px; /* Adjust for size */
    font-weight: bold;
    box-shadow: 0 0 0 10px #070507, 0 0 0 12px #CD853F; /* Creates a 10px transparent gap and a 2px border */
    font-size: 30px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Kim;
}

.gold-container::before, .gold-container::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px; /* Adjust to create the desired gap size */
    background-color: #070507; /* Match the background color */
}
.gold-container::before {
    left: -12px; /* Position the pseudo-element to cover the left border */
}
.gold-container::after {
    right: -12px; /* Position the pseudo-element to cover the right border */
}

.gold-icon {
    margin-right: 10px; /* Space between the icon and the text */
    /* scale: 0.25; */
    height: 32px;
}

.shop-content {
    margin-left: 30px;
}

.menuItemContainer {
    position: relative;
}

.menuItemText {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Kim', sans-serif;
    color: white;
    font-size: 30px;
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menuItemContainer:hover {
    filter: brightness(1.2);
  }
  .menuItemContainer:active {
    transform: scale(0.95);
  }

  .logoutButton {
    display: inline-flex;
    align-items: center;
    border: 1px solid #B3B3B3;
    color: #B3B3B3;
    padding: 5px;
    cursor: pointer;
    font-size: 10px;
    background-color: transparent;
    padding-right: 0;
}

.logoutButton:hover {
    color: gray;
}

.logoutButton i {
    margin-right: 5px;
}