.barContainer {
    width: 100%;
    min-height: 320px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
    flex: 1;
}

.playModesContainer {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.playModesRow {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
    padding: 0 48px;
}