.loading-div, .waiting-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading-game-spinner {
  position: relative;
  width: 300px;
  height: 300px;
}

.game-spinner {
  box-sizing: border-box;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: white;
  font-family: 'Kim';
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.orientation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
}

.orientation-overlay__text {
  font-size: 1.5em;
  margin-top: 20px;
  font-family: 'Kim';
}

.waiting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waiting-div {
  font-family: 'Kim';
  font-size: 24px;
  margin-bottom: 20px;
}

@keyframes ellipsis {
  0% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: ''; }
}

.waiting-div::after {
  content: '';
  display: inline-block;
  width: 12px;
  animation: ellipsis 2s infinite steps(1);
}

#scene {
  background: linear-gradient(to bottom, #242529, #325268);
  margin: 0;
  padding: 0; 
  height: 100vh;
}
