.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #080c15;
    padding: 20px;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.login-dialog {
    background-color: #242b37;
    border: 1px solid #0096a1;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 70px 20px 20px;
    width: 100%;
    font-family: Kim;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    z-index: 0;
}

.login-header {
    margin-bottom: 20px;
}

.logo {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: -80px;
    z-index: 1;
}


.login-header p {
    /* padding-top: 50px; */
    font-size: 18px;
    color: white;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


.get-started,
.already-account {
    background-color: #ffcc00;
    /* Golden color */
    border: 2px solid #ffaa00;
    /* Slightly darker border for depth */
    border-radius: 8px;
    /* Rounded corners */
    color: #ffffff;
    font-size: 16px;
    margin: 10px 0;
    /* Vertical margin for spacing between buttons */
    padding: 10px 20px;
    cursor: pointer;
    width: 80%;
    /* Adjust width as needed */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Depth effect */
    transition: all 0.3s ease;
    /* Smooth hover and active transition */
    font-family: Kim;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.get-started:hover,
.already-account:hover {
    background-color: #ffaa00;
    /* Slightly darker on hover */
    border-color: #ff9900;
    /* Darker border on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Deeper shadow on hover */
    opacity: 0.9;
    /* Slight opacity change on hover */
}

.get-started:active,
.already-account:active {
    transform: scale(0.95);
    /* Scale down on press */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Less shadow on press */
}


#firebaseui-auth-container {
    margin-top: 20px;
}

.back-button {
    background-color: #cccccc;
    border: none;
    border-radius: 4px;
    color: #333333;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
    /* Adjust width as needed */
    text-align: center;
}

.back-button:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    .login-container {
        max-width: 100%;
    }

    .logo {
        margin-bottom: -30px;
    }

    .login-dialog {
        padding-top: 50px;
    }
}