.title-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
    background-image: url('/public/title/title.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.title-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.logo-big {
    width: 400px;
    margin-bottom: 20px;
}

#firebaseui-auth-container {
    width: 100%;
}
