.questCardContainer {
  background-image: url("@assets/quest_bg_idle.png");
  background-size: 100% 100%;
  width: 280px;
  height: 74px;
  position: relative;
  display: flex;
  align-items: center;
}

.questInfoContainer {
  position: absolute;
  left: 94px;
  display: flex;
  flex-direction: column;
}

.questInfoContainer span,
p {
  font-size: 10px;
  color: #ffffff;
  margin: 0;
}

.questInfoContainer .fireSpells {
  font-size: 12px;
  font-weight: 700;
}

.questInfoContainer .questGold {
  color: #ffa600;
}

.questInfoContainer .questExp {
  color: #49d7d8;
}

.completion {
  background-size: 100% 100%;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 8px;
}

.chartContainer {
  position: absolute;
  right: 8px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1f25;
}

.chartContainer svg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

.chartContainer svg circle {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 31.8309886184;
  stroke-dasharray: 0, 0, 0, 100;
  stroke-dashoffset: 25;
  animation: pie-chart 6s ease both;
}
.pie-chart {
  stroke: hsl(180, 65%, 57%);
}

/* @keyframes pie-chart {
  50%,
  100% {
    stroke-dasharray: 45, 55, 0, 0;
  }
} */

.chartVal {
  width: 36px;
  height: 36px;
  border: 1px solid #49d7d8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252b36;
  z-index: 1;
}

.chartVal span {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
