services:
  client:
    build:
      context: .
      dockerfile: ./client/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./client:/usr/src/app
      - ./shared:/usr/src/app/shared
    environment:
      - API_URL=http://localhost:5001/legion-32c6d/us-central1
      - FIREBASE_AUTH_EMULATOR_HOST=http://localhost:9099
      - GAME_SERVER_URL=http://localhost:3123
      - IS_DOCKER=true
      - MATCHMAKER_URL=http://localhost:3000
      - USE_FIREBASE_EMULATOR=true

  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    ports:
      - "3123:3123"
    volumes:
      - ./server:/usr/src/app
      - ./shared:/usr/src/app/shared
    environment:
      - API_URL=http://api:5001/legion-32c6d/us-central1
      - CLIENT_ORIGIN=*
      - FIREBASE_AUTH_EMULATOR_HOST=api:9099
      - IS_DOCKER=true
      - NODE_ENV=development

  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    ports:
      - "4000:4000"
      - "4400:4400"
      - "5001:5001"
      - "8085:8085"
      - "8090:8090"
      - "9099:9099"
      - "9150:9150"
    volumes:
      - ./api/functions/src:/usr/src/app/src
      - ./api/exports/:/usr/src/app/exports
      - ./shared:/usr/src/app/shared
    environment:
      - NODE_ENV=docker
      - ADMIN_MODE=true

  matchmaker:
    build:
      context: .
      dockerfile: ./matchmaker/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./matchmaker:/usr/src/app
      - ./shared:/usr/src/app/shared
    environment:
      - API_URL=http://api:5001/legion-32c6d/us-central1
      - CLIENT_ORIGIN=*
      - FIREBASE_AUTH_EMULATOR_HOST=api:9099
      - IS_DOCKER=true
      - NODE_ENV=development

