services:
  client:
    build:
      context: .
      dockerfile: ./client/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./client:/usr/src/app
      - ./shared:/usr/src/app/shared
    environment:
      - NODE_ENV=development
      - FIREBASE_AUTH_EMULATOR_HOST=${FIREBASE_AUTH_EMULATOR_HOST}
      - USE_FIREBASE_EMULATOR=true

  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    ports:
      - "3123:3123"
    volumes:
      - ./server:/usr/src/app
      - ./shared:/usr/src/app/shared
    environment:
      - NODE_ENV=development
      - FIREBASE_AUTH_EMULATOR_HOST=${FIREBASE_AUTH_EMULATOR_HOST}

  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    ports:
      - "4000:4000"
      - "4400:4400"
      - "5001:5001"
      - "8090:8090"
      - "9099:9099"
      - "9150:9150"
    volumes:
      - ./api/functions:/usr/src/app
      - ./shared:/usr/src/app/shared
    environment:
      - NODE_ENV=development

  matchmaker:
    build:
      context: .
      dockerfile: ./matchmaker/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./matchmaker:/usr/src/app
      - ./shared:/usr/src/app/shared
    environment:
      - NODE_ENV=development
      - FIREBASE_AUTH_EMULATOR_HOST=${FIREBASE_AUTH_EMULATOR_HOST}
