.inventoryFullContainer {
    background-color: #242b36;
    border: 1px solid #2e3e4e;
    border-radius: 8px;
    padding: 4px;
}

.inventoryContainer {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #71deff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.inventoryWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 4px 6px;
    position: relative;
    min-height: 240px;
    min-width: 540px;
}

.inventoryCategoryContainer {
    background-color: #2f404d;
    border-radius: 3px;
    width: 100%;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.inventoryCategories {
    display: flex;
    gap: 8px;
}

.inventoryCategory {
    border-radius: 3px;
    border: 1px solid #71deff;
    background-color: #1c1f25;
    padding: 4px;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Kim';
    color: #ffffff;
    letter-spacing: 0.4px;
}

.inventoryCategory:hover {
    background-color: transparent;
    border: 1px solid #a5670f;
    cursor: pointer;
}

.inventoryLabel {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Kim';
    letter-spacing: 0.6px;
}

.categoryCount {
    background-color: #1c1f25;
    padding: 4px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.categoryCount span {
    color: #71deff;
}

.categoryBtn {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
}

.categoryBtn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.hint-modal-container {
    box-sizing: border-box;
    background-color: #1c1f25;
    border: 1px solid #71deff;
    border-radius: 8px;
    width: 264px;
    height: 180px;
    padding: 12px;
    position: relative;
}

.hint-modal-heading {
    font-size: 24px;
    text-align: center;
    color: #71deff;
}

.hint-modal-button-container {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.hint-modal-button-container button {
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #46899e;
    background-color: transparent;
}

.hint-modal-button-container button:hover {
    opacity: 0.7;
    cursor: pointer;
    border: 1px solid #8be0f9;
}

.empty-slots-container {
    background-color: rgba(28, 31, 37, 0.85);
    border-radius: 8px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.empty-slots-container p {
    font-size: 16px;
    text-align: center;
}

.empty-slots-container a {
    padding: 8px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #46899e;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.empty-slots-container a img {
    width: 20px;
    height: 20px;
}