.welcome-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .welcome-dialog {
    position: relative;
    background-color: #242b37;
    border: 1px solid #0096a1;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 90px 20px 20px; /* Increased top padding */
    width: 400px;
    font-family: Kim;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
  }
  
  .welcome-logo {
    position: absolute;
    top: -100px; /* Adjusted to move the logo up */
    left: 50%;
    transform: translateX(-50%);
    width: 250px; /* Reduced size */
    height: auto;
    z-index: 1;
  }
  
  .dialog-content {
    margin-top: 10px; /* Reduced top margin */
  }
  
  .login-header {
    font-size: 14px;
    color: white;
  }
  
  .login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }



  .sign-up-btn, .explore-btn {
    border-radius: 8px; /* Rounded corners */
    color: #ffffff;
    margin: 10px 0; /* Vertical margin for spacing between buttons */
    cursor: pointer;
    width: 80%; /* Adjust width as needed */
    text-align: center;
    transition: all 0.3s ease; /* Smooth hover and active transition */
    font-family: Kim;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sign-up-btn {
    background-color: #ffcc00; /* Golden color */
    border: 2px solid #ffaa00; /* Slightly darker border for depth */
    font-size: 18px;
    padding: 12px 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Depth effect */
}

.explore-btn {
    background-color: #e6b800; /* Slightly less vibrant gold */
    border: 1px solid #cc9900; /* Thinner, less contrasty border */
    font-size: 14px;
    padding: 8px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Less pronounced shadow */
}

.sign-up-btn:hover {
    background-color: #ffaa00; /* Slightly darker on hover */
    border-color: #ff9900; /* Darker border on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Deeper shadow on hover */
}

.explore-btn:hover {
    background-color: #d9ad00; /* Less dramatic hover effect */
    border-color: #bf9900;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
}

.sign-up-btn:active, .explore-btn:active {
    transform: scale(0.95); /* Scale down on press */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Less shadow on press */
}


.back-button {
    background-color: #cccccc;
    border: none;
    border-radius: 4px;
    color: #333333;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%; /* Adjust width as needed */
    text-align: center;
  }
  
  .back-button:hover {
    opacity: 0.8;
  }