.shop-content {
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.shop-tabs-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    position: fixed;
    top: 35%;
    left: calc(50vw - 512px);
}

@media screen and (max-width: 1100px) { 
    .shop-tabs-container {
        left: 24px;
    }
}

.shop-tab-item {
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    padding: 8px;
    background-size: 100% 100%;
    cursor: pointer;
}

.shop-tab-item img {
    width: 100%;
    height: 100%;
}

.shop-items-container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 4px;
    width: 1024px;
    overflow-y: auto;
    margin-top: 36px;

    margin-left: 100px;
}

.shop-portrait {
    width: 32px;
    height: 32px;
    margin: 10px;
}