.cardContainer {
  background-size: 100% 100%;
  width: 304px;
  height: 86px;
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Kim';

}

.characterLevel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 34px;
}

.characterLevel .level {
  font-size: 10px;
  color: #ffa600;
}

.characterLevel .levelVal {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.characterName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  left: 84px;
}

.characterName .name {
    max-width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
}

.characterName .class {
    max-width: 114px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
    color: #ffa600;
    text-transform: uppercase;
}

.portraitContainer {
    position: absolute;
    right: 20px;
    width: 58px;
    height: 96px;
    border-radius: 8px;
    padding-bottom: 6px;
}

.portrait {
    width: 100%;
    height: 100%;
    background-position: -40px -40px;
    background-repeat: no-repeat;
    animation: animate-sprite 0.7s steps(1) infinite;
    transform: scale(.6);
} 

.characterSp {
  position: absolute; 
  top: -4px; 
  right: -4px;
  width: 24px; 
  height: 24px; 
  background-color: darkred; 
  border-radius: 4px; 
  color: white; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}