.userInfoBar {
    display: flex;
    align-items: center;
    font-family: 'Kim';
}

.barLogo {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barLogo img {
    width: 38px;
    height: 30px;
}

.userInfoLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94px;
    height: 24px;
    border: 1px solid #71deff;
    border-radius: 6px;
    margin-left: -16px;
    margin-right: 8px;
    padding-left: 20px;
    padding-right: 3px;
    background-color: #253644;
}

.userInfoLabel span {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

.eloSpan {
    background-color: #364f63;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 400 !important;
}