* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.width_full {
    width: 100%;
}

.width_half {
    width: 50%;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
}

.items_center {
    align-items: center;
}

.gap_4 {
    gap: 4px
}

.padding_4 {
    padding: 4px;
}

.padding_8 {
    padding: 8px
}

.padding_top_16 {
    padding-top: 16px;
}

.padding_right_16 {
    padding-right: 16px;
}

.padding_y_4 {
    padding: 4px 0;
}

.relative {
    position: relative;
}

.cursor_pointer {
    cursor: pointer;
}

.item {
    width: 43px;
    height: 43px;
    border: 1px solid #3e5367;
    border-radius: 6px;
    background-color: #1c1f25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover {
    border-color: #71deff;
}

.char_stats_container {
    display: flex;
    flex-direction: row;
}

.char_profile {
    background-size: 100% 100%;
}

.char_profile_container {
    width: 96px;
    height: 96px;
    border-radius: 8px;
    padding-bottom: 6px;
    background-size: 100% 100%;
    z-index: 20;
}

.char_portrait {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    background-position: -40px -40px;
    background-repeat: no-repeat;
    animation: animate-sprite 0.7s steps(1) infinite;
    transform: scale(.6);
}

.char_stats {
    background-size: 100% 100%;
    height: 74px;
    width: 196px;
    margin-left: -16px;
    margin-bottom: 4px;
    padding: 8px;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.char_stats_player_name {
    display: flex;
    gap: 6px;
    align-items: center;
}

.char_stats_player_index {
    width: 24px;
    height: 24px;
    background-image: url('@assets/HUD/no_bg.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.char_stats_player_name p {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.char_stats_bar {
    background-color: #0e0e0e;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    height: 6px;
}

.char_stats_hp {
    background-image: url('@assets/HUD/hp_blue_bar.png');
    background-size: 100% 100%;
    height: 100%;
}

.char_stats_mp {
    background-image: url('@assets/HUD/mp_blue_bar.png');
    background-size: 100% 100%;
    height: 100%;
}

.char_stats_cooldown_bar {
    background-color: #0e0e0e;
    width: 196px;
    height: 4px;
    margin-bottom: -24px;
    border-radius: 2px;
    overflow: hidden;
    position: absolute;
    right: 2px;
    top: 80px;
}

.char_stats_cooldown {
    background-image: url('@assets/HUD/orange_bar_fill.png');
    background-size: 100% 100%;
    height: 100%;
}

.char_statuses {
    display: flex;
    gap: 4px;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 88px;
}

.char_statuses img {
    width: 14px;
    height: 18px;
}

.player_info_container {
    background-image: url('@assets/HUD/player_info_bg.png');
    background-size: 100% 100%;
    width: 368px;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    padding: 8px 16px 12px 36px;
    cursor: pointer;
}

.player_info_container_right {
    flex-direction: row-reverse;
    margin-right: 20px;
}

.player_info_container_right .player_info_team {
    transform: scaleX(-1);
    margin-right: -8px;
}

.player_info_container_right .player_info_team span {
    display: inline-block;
    transform: scaleX(-1);
}

.player_info_lv {
    background-image: url('@assets/HUD/final_chest_bg.png');
    background-size: 100% 100%;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 30px;
    left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player_info_lv_right {
    left: auto;
    right: -20px;
}

.player_info_lv span {
    font-size: 10px;
    color: #FFA600;
}

.player_info_lv .player_info_lvalue {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}

.player_info_player_profile {
    background-image: url('@assets/HUD/player_profile_bg.png');
    background-size: 100% 100%;
    width: 86px;
    height: 86px;
}

.player_info {
    display: flex;
    flex-direction: column;
}

.player_info_name {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

.player_info_rank {
    display: flex;
    align-items: center;
    gap: 4px;
}

.player_info_rank img {
    width: 36px;
    height: 36p;
}

.player_info_rank span {
    font-size: 14px;
    color: #71deff;
}

.player_info_team {
    background-image: url('@assets/HUD/team_bg.png');
    background-size: 100% 100%;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: -8px;
}

.player_tab_container {
    background-image: url('@assets/HUD/char_info_bg.png');
    background-size: 100% 100%;
    width: 692px;
    height: 158px;
    display: flex;
    justify-content: space-between;
    gap: 4px;

    position: relative; 
    margin-top: 10px;
    margin-left: 10px;
    z-index: 2;
    align-self: start;
}

.player_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.player_content {
    display: flex;
    gap: 8px;
    padding: 0 8px;
    padding-left: 16px;
    width: 100%;
}

.player_content_portrait {
    width: 96px;
    height: 96px;
    border-radius: 8px;
    padding-bottom: 6px;
    background-size: 100% 100%;
    z-index: 20;
    background-image: url('@assets/HUD/char_frame.png');
    background-size: 100% 100%;
}

.character_portrait {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    background-position: -40px -40px;
    background-repeat: no-repeat;
    animation: animate-sprite 0.7s steps(1) infinite;
    transform: scale(.6);
}

.player_content_name {
    display: flex;
    align-items: center;
}

.player_content_flag {
    background-image: url('@assets/HUD/no_bg.png');
    background-size: 100% 100%;
    padding: 8px 10px;

    font-size: 14px;
    color: #FFFFFF;
}

.player_content_char_name {
    background-image: url('@assets/HUD/charname_bg.png');
    background-size: 100% 100%;
    padding: 4px 8px;
    width: 100%;

    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.player_content_stats_bar {
    display: flex;
    align-items: center;
    gap: 4px;
}

.player_content_stats_icon {
    background-image: url('@assets/HUD/small_box_btn_bg_active.png');
    background-size: 100% 100%;
    padding: 4px 4px 1px;
}

.player_content_stats_icon img {
    width: 16px;
    height: 16px;
}

.hud_bar_container {
    display: flex;
    align-items: center;
    gap: 4px;
    flex: 1;
}

.hud_bar_bg {
    flex: 1;
    height: 8px;
    background-color: #1c1f25;
    border-radius: 2px;
}

.hud_bar_status {
    font-size: 12px;
    color: #FFFFFF;
    min-width: 60px;
    text-align: right;
}

.player_content_statuses {
    display: flex;
    gap: 4px;
    align-items: center;
    padding-top: 4px;
}

.player_content_statuses div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 10px;
    color: #FFFFFF;
}

.player_content_statuses img {
    width: 14px;
    height: 16px;
}

.xp_bar_bg_container {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    color: #71deff;
    width: 92%;
    margin-left: 10px;
}

.xp_bar_bg {
    height: 6px;
    width: 100%;
    flex: 1;
    background-color: #1c1f25;
    border-radius: 2px;
    overflow: hidden;
}

.cooldown_bar {
    background-color: gold;
    height: 6px;
}

.hud_actions_title {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #FFA600;
}

.player_hud_skills {
    width: 100%;
    max-width: 48px;
    height: 48px;
    background-color: #1c1f25;
    border: 1px solid #274c57;
    border-radius: 4px;
    cursor: pointer;
}

.player_hud_skills:hover {
    border: 1px solid #71deff;
}

.player_hud_action_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}