* {
    box-sizing: border-box;
}

.item {
    width: 43px;
    height: 43px;
    border: 1px solid #3e5367;
    border-radius: 6px;
    background-color: #1c1f25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover {
    border-color: #71deff;
}

.char_stats_container {
    display: flex;
    flex-direction: row;
}

.char_profile {
    background-size: 100% 100%;
}

.char_profile_container {
    width: 96px;
    height: 96px;
    border-radius: 8px;
    padding-bottom: 6px;
    background-size: 100% 100%;
    z-index: 20;
}

.char_portrait {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    background-position: -40px -40px;
    background-repeat: no-repeat;
    animation: animate-sprite 0.7s steps(1) infinite;
    transform: scale(.6);
}

.char_stats {
    background-size: 100% 100%;
    height: 74px;
    width: 196px;
    margin-left: -16px;
    margin-bottom: 4px;
    padding: 8px;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.char_stats_player_name {
    display: flex;
    gap: 6px;
    align-items: center;
}

.char_stats_player_index {
    width: 24px;
    height: 24px;
    background-image: url('@assets/HUD/no_bg.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.char_stats_player_name p {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.char_stats_bar {
    background-color: #0e0e0e;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    height: 6px;
}

.char_stats_hp {
    background-image: url('@assets/HUD/hp_blue_bar.png');
    background-size: 100% 100%;
    height: 100%;
}

.char_stats_mp {
    background-image: url('@assets/HUD/mp_blue_bar.png');
    background-size: 100% 100%;
    height: 100%;
}

.char_stats_cooldown_bar {
    background-color: #0e0e0e;
    width: 196px;
    height: 4px;
    margin-bottom: -24px;
    border-radius: 2px;
    overflow: hidden;
    position: absolute;
    right: 2px;
    top: 80px;
}

.char_stats_cooldown {
    background-image: url('@assets/HUD/orange_bar_fill.png');
    background-size: 100% 100%;
    height: 100%;
}

.char_statuses {
    display: flex;
    gap: 4px;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 88px;
}

.char_statuses img {
    width: 16px;
    height: 18px;
}