.menu {
  height: 48px;
  width: 100%;
  background-image: url("@assets/navbar_bg.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoContainer {
  width: 78px;
  position: relative;
}

.gameLogo {
  width: 76px;
  height: 64px;
  position: absolute;
  top: -20px;
}

.gameLogo img {
  width: 100%;
}

.avatarContainer {
  display: flex;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.avatar {
  border-left: 2px solid #cd853f;
  border-right: 2px solid #cd853f;
  width: 64px;
  background-color: rgba(0, 0, 0, 0.5);
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 8px;
  padding-right: 24px;
}

.userInfo span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.userLevel {
  display: flex;
  background-color: #654321;
  margin-top: 4px;
  padding: 2px 4px;
}

.userLevel span {
  font-size: 10px;
  line-height: 8px;
  color: rgb(255, 170, 0);
}

.expand_btn {
  background-image: url("@assets/expand_btn.png");
  background-size: 100% 100%;
  width: 36px;
  height: 36px;
  margin: 0 8px;
  position: relative;
}

.expand_btn:hover {
  cursor: pointer;
}

.expand_btn:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 36px;
  right: 4px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #49d7d8;
  background-color: #253644;
  overflow: hidden;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #2e4556;
}

.dropdown-content a span {
    font-size: 14px;
}

.menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 4px;
}

.menuItemContainer {
  width: 72px;
  height: 84px;
}

.menuItemContainer img {
  width: 100%;
  height: 100%;
}

.activeFlag {
  padding-top: 18px;
}
