.menu {
  height: 48px;
  width: 100%;
  background-image: url("@assets/navbar_bg.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoContainer {
  width: 78px;
  position: relative;
}

.gameLogo {
  width: 76px;
  height: 64px;
  position: absolute;
  top: -20px;
}

.gameLogo img {
  width: 100%;
}

.avatarContainer {
  display: flex;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 20px;
}

.avatar {
  border-left: 2px solid #cd853f;
  border-right: 2px solid #cd853f;
  width: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 8px;
  padding-right: 24px;
  font-family: 'Kim';
}

.userInfo span {
  font-size: 14px;
  font-weight: 300;
  max-width: 140px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  color: #fff;
}

.userLevel {
  display: flex;
  background-color: #654321;
  margin-top: 4px;
  padding: 2px 4px;
}

.userLevel span {
  font-size: 10px;
  line-height: 8px;
  color: rgb(255, 170, 0);
}

.expand_btn {
  background-size: 100% 100%;
  width: 36px;
  height: 36px;
  margin: 0 8px;
  position: relative;
}

.expand_btn:hover {
  cursor: pointer;
}

.expand_btn:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 36px;
  right: 4px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #49d7d8;
  background-color: #253644;
  overflow: hidden;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content img {
  vertical-align: middle;
  padding-bottom: 3px;
}

.dropdown-content div {
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #2e4556;
}

.dropdown-content a span {
  font-size: 14px;
}

.menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 4px;
}

.menuItemContainer {
  width: 72px;
  height: 84px;
}

.menuItemContainer img {
  width: 100%;
}

.activeFlag {
  padding-top: 10px;
}

login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.wallet-btn {
  border-radius: 8px;
  /* Rounded corners */
  color: #ffffff;
  margin: 10px 0;
  /* Vertical margin for spacing between buttons */
  cursor: pointer;
  /* Adjust width as needed */
  text-align: center;
  transition: all 0.3s ease;
  /* Smooth hover and active transition */
  font-family: Kim;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: #ffcc00;
  /* Golden color */
  border: 2px solid #ffaa00;
  /* Slightly darker border for depth */
  font-size: 16px;
  padding: 6px 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}


.wallet-btn:hover {
  background-color: #ffaa00;
  /* Slightly darker on hover */
  border-color: #ff9900;
  /* Darker border on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  /* Deeper shadow on hover */
}

.wallet-btn:active {
  transform: scale(0.95);
  /* Scale down on press */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Less shadow on press */
}