name: Docker Build Check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Validate Docker Compose Build
        run: docker compose build --pull --parallel
